<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/font/font-awesome-4.7.0/css/font-awesome.min.css">
   <link rel="shortcut icon" href="../assets/images/icon_favico.png" type="image/x-icon">

</head>
<body>
    <!-- bg header  -->
    <header>
        <div class="header-left">
            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/images/logo.png" alt="logo" width="100%">
                </a>
            </div>
        </div>
        
        <div class="header-right">
            <div class="contact-header">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>LIÊN HỆ - 0965639128</span>
            </div>
            <div class="content-header">
                <img src="../assets/images/freeship_header.png" width="10%" alt="">
                <div class="content-ship">
                <h2>GIAO HÀNG MIỄN PHÍ</h2>
                <p>FREESHIP MỌI ĐƠN HÀNG TỪ 80K, ÁP DỤNG CHO TẤT CẢ TỪ HÀ NỘI, HCM, VÀ CÁC TỈNH THÀNH.
                    </p>
                    <p class="conten--ship__right">CHÀO MỪNG BẠN ĐẾN VỚI SAMMISHOP!</p>
                </div>
            </div>
            <div class="search_header">
                <input type="text" name="" placeholder="chào mừng mọi người đã đến với shop của Bông" id="">
                <button class="btn--search"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <div class="user-header">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </li>
                        <ul class="link">
                            <li>
                                <a href="">Đăng Nhập</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        </div>
    </header>
    <!-- bg nav  -->
    <nav>
        <div class="nav--danhmuc">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <h3>Danh mục sản phẩm</h3>
             <!-- nav sidebar -->
         <div class="nav--sibar nav--products">   
            <ul>
                <li class="nav--sidebar__left"><a href="">
                    <img src="../assets/images/icon-makeup.png" alt="">
                    <span class="link-content">
                        <span>Trang điểm - Makeup</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            <!-- sub-nav sidebar -->
            <!-- end sub-nav sidebar -->
            </li>
                <li><a href="">
                    <img src="../assets/images/icon-skincare.png" alt="">
                    <span class="link-content">
                        <span>Chăm sóc da - Skincare</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-hair.png" alt="">
                    <span class="link-content">
                        <span>Chăm sóc tóc - Hair</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-body.png" alt="">
                    <span class="link-content">
                        <span>Chăm sóc cơ thể - Bath & Body</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-brushes.png" alt="">
                    <span class="link-content">
                        <span>Tools - Brushes</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-others.png" alt="">
                    <span class="link-content">
                        <span>Sản phẩm khác - Others</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-minisize.png" alt="">
                    <span class="link-content">
                        <span>Mini Size</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
                <li><a href="">
                    <img src="../assets/images/icon-gift.png" alt="">
                    <span class="link-content">
                        <span>Set quà tặng - Gift</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a></li>
            </ul>
        </div>
        <!-- end nav sidebar -->
        </div>
        <div class="nav--top">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Hàng mới về</a></li>
                <li><a href="">Khuyễn mãi hôm nay</a></li>
                <li><a href="">Beauty tips/review</a></li>
                <li><a href="">Hệ thông cửa hàng</a></li>
                <!-- <li><a href="">Tuyển dụng</a></li> -->
            </ul>
        </div>
        <div class="cart">
            <a href="">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <p>sản phẩm</p>
        </a>
        </div>
    </nav>
    <!-- end header  -->
<form action="">
    <div class="row">
        <div class="breadcrumb">
            <ol>
                <li>Trang chủ</li>
                <li>Sản phẩm</li>
                <li>
                    đăng ký

                </li>
            </ol>
        </div>
        <div class="form-login">
    <div class="main-login">
        <h2>Đăng ký</h2>

        <div class="form-control-login">
            <i class="fa fa-user icon" aria-hidden="true"></i>
            <input type="text" placeholder="Email/SĐT" name="" id="">
        </div>
        <div class="form-control-login">
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            <input type="password" placeholder="********" name="" id="">
            <i class="fa fa-eye icon-eye"  aria-hidden="true"></i>
        </div>
        <div class="form-control-login">
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            <input type="password" placeholder="********" name="" id="">
            <i class="fa fa-eye icon-eye"  aria-hidden="true"></i>
        </div>
        <div class="form-control-login">
            <button>Đăng ký</button>
        </div>
        <div class="link-signup">
            <p>bạn đã có tài khoản?<a href="../layouts/login.html">Đăng nhập</a> </p>
        </div>
    </div>
</div>
</form>
<footer>
    <div class="row">
        <div class="footer--center">
            <div class="footer--about">
                <div class="footer--about-title">
                    <h3>Về chúng tôi</h3>
                </div>
                <div class="footer--about-content">
                    Câu chuyện thương hiệu
                    Quy định & hình thức thanh toán
                    Chính sách bảo mật thông tin
                </div>
            </div>
            <div class="footer--support">
                <div class="footer--support-title">
                    <h3>Hỗ trợ</h3>
                </div>
                <div class="footer--support-list">
                    <ul>
                        <li><a href="">Chính sách tích luỹ điểm</a></li>
                        <li><a href="">Hướng dẫn mua hàng và chính sách</a></li>
                        <li><a href="">Chính sách đổi trả</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer--cooperate">
                <div class="footer--cooperate-title">
                    <h3>HỢP TÁC KINH DOANH</h3>
                </div>
                <div class="footer--cooperate-content">
                    <a href="">Chính sách bán sỉ</a>
                </div>
            </div>
            <div class="footer--contact">
                <div class="footer--contact-title">
                    <h3>Bản tin
                    </h3>
                </div>
                <div class="footer--contact-content">
                    <a href="">Đăng Ký Tại Đây Để Nhận Thông Tin Khuyến Mãi Mỗi Ngày</a>
                    <div class="footer--contact-content-form">
                        <input type="email" placeholder="Nhập emai của bạn...">
                        <button class="footer--contact-content-form-btn">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../js/jquery/jquery.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>